<article id="intro-ios-safari" class="intro-mobile column one-half text-center content section show-on-ios">
  <header>
    <img
      height="140px"
      src="/img/ios-safari-logo.svg"
      alt="{{ ios-safari-logo-alt[alt text] iOS Safari logo }}">
    <h1>{{ intro-ios-safari-heading[heading] <span>Block ads with</span> <span>Adblock Plus for Safari</span> on iOS }}</h1>
  </header>
  <ul class="unstyled">
    <li>{{ intro-ios-safari-item-1[list item] Block annoying ads }}</li>
    <li>{{ intro-ios-safari-item-2[list item] Save data and battery life }}</li>
    <li>{{ intro-ios-safari-item-3[list item] Block malware, tracking and more }}</li>
    <li>{{ intro-ios-safari-item-4[list item] Works exclusively for Safari }}</li>
  </ul>
  <div>
    <? include install-button-ios-safari ?>
  </div>
  <div>
    <a href="download">{{ view-ab-products-label[link] View all our ad blocking products }}</a>
  </div>
</article>
