<div id="hero-download" class="container">
  <div class="row">
    <? include intro/standard ?>
    <? include intro/ios-safari ?>
    <? include intro/android ?>
    <? include intro/samsung ?>
    <? include intro/video ?>
  </div>
  <? include intro/notices ?>
</div>
<? include intro/ios-not-safari ?>
