title=Download Adblock Plus Chrome
description=Download Adblock Plus for Chrome browser and keep your computer clean from intrusive ads, block tracking, and fight off 'malvertising' infections. The ad blocker is customizable, and you can use white lists to support favorite websites, or make your own filters.
template=minimal

<style>

  .container
  {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .section
  {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .content .hero-heading
  {
    font-size: 1.4em;
    font-weight: lighter;
  }

  .content .hero-subheading
  {
    font-size: 2.4em;
    line-height: 1.3;
    font-weight: bold;
  }

  .content a,
  .content a:visited
  {
    color: #3d9c4f;
    font-weight: bolder;
  }

  .content a.legal,
  .content a.legal:visited
  {
    color: #c70d2c;
    font-weight: bolder;
  }

  a.icon-button
  {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #3d9c4f;
    color: #fff;
  }

  a.icon-button:visited
  {
    background-color: #3d9c4f;
    color: #fff;
  }

  .content a.icon-button
  {
    background-color: #3d9c4f;
    color: #fff;
    font-weight: normal;
  }

  .content a.icon-button:visited
  {
    background-color: #3d9c4f;
    color: #fff;
  }

  .bg-dark
  {
    background-color: #212121;
  }

  .button .button-image
  {
    vertical-align: middle;
  }

  .icon-button .button-text
  {
    position: relative;
    top: 0.1em;
  }

  .content .download-spacing
  {
    margin-top: 2em;
  }

  .content .footer-download-spacing
  {
    margin-top: 3em;
  }

  #bubble-ui-desktop-and-aa
  {
    display: none;
  }

  .desktop #bubble-ui-desktop
  {
    display: none;
  }

  .desktop #bubble-ui-desktop-and-aa
  {
    display: block;
  }

  .bg-grey-abstract
  {
    background-image: url("/img/grey-bg-abstract-shape.svg");
    background-repeat: no-repeat;
    background-size: 1152px 1250px;
  }

  @media (max-width: 320px)
  {
    .bg-grey-abstract
    {
      background-position: top -260px right -640px;
    }
  }

  @media (min-width: 375px)
  {
    .bg-grey-abstract
    {
      background-position: top -260px right -640px;
    }
  }

  @media (min-width: 768px)
  {
    .bg-grey-abstract
    {
      padding-top: 6em;
      background-position: top -280px right -500px;
    }
  }

  @media (min-width: 1366px)
  {
    .bg-grey-abstract
    {
      background-size: 1746px 1894px;
      background-position: top -550px right -740px;
    }
  }

  @media (min-width: 1920px)
  {
    .bg-grey-abstract
    {
      background-position: top -550px right -460px;
    }
  }

  .info-box
  {
    padding: 1em;
    border-radius: 0.4em;
  }

  .desktop .info-box
  {
    display: none;
  }

  .info-box p
  {
    margin: 0.5em 0;
  }

  .info-box .close-button
  {
    float: right;
    width: 18px;
    padding: 0;
  }

  @media (min-width: 768px)
  {
    .bg-grey-abstract .section
    {
      margin: 0;
    }

    .info-box
    {
      margin-top: 1.5em;
      float: left;
      width: 50%;
    }
  }

  #facts .section
  {
    margin-bottom: 0;
  }

  .fact
  {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .fact img
  {
    display: block;
    margin: 1em auto;
  }

  .fact p
  {
    font-size: 2em;
  }

  .fact .number-of-devices
  {
    font-weight: lighter;
  }

  .fact em
  {
    font-weight: bold;
  }

  #special-features
  {
    padding-top: 2em;
  }

  .settings-icon
  {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-image: url("/img/icon-gear.svg");
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: right;
  }

  @media (min-width: 768px)
  {
    #hero,
    #facts,
    .section
    {
      margin-bottom: 6em;
    }

    .one-third
    {
      width: 33.333333%;
    }

    .one-fourth
    {
      width: 25%;
    }
  }

  .download
  {
    display: none;
  }

  .desktop .download
  {
    display: block;
  }

</style>

<div class="bg-grey-abstract">
  <? include landing/chrome/other-browser ?>
  <? include landing/chrome/hero ?>
</div>
<? include landing/chrome/facts ?>
<? include landing/chrome/special-features ?>
<? include landing/chrome/how-it-works ?>
<? include landing/chrome/supporting-websites ?>
<? include landing/chrome/footer-download ?>

<script src="/js/vendor/bowser.js"></script>

<script>

  if (bowser.chrome)
  {
    document.body.classList.add("chrome");
  }

  if (bowser.mobile || bowser.tablet)
  {
    document
      .querySelector(".info-box .close-button")
      .addEventListener("click", function()
      {
        document.querySelector(".info-box")
          .setAttribute("hidden", "");
      });
  }
  else
  {
    document.body.classList.add('desktop');
  }

</script>
